@keyframes fadein {
  from {
    background: var(--c-bg);
  }
  to {
    background: var(--c-selected);
  }
}

.track-list {
  list-style: none;
  margin: 0;
  padding: 0;

  input.track-name {
    animation: 120ms fadein var(--snappy);
    background: var(--c-selected);
    border: 0;
    border-bottom: 1px solid var(--c-border);
    font-family: inherit;
    padding-left: 8px;
    margin: 0 0 8px -8px;
    width: 60%;
    transition: 120ms border-bottom-color var(--snappy);

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--c-active);
    }
  }

  li {
    border-bottom: 1px solid var(--c-border);
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 0;
    transition: 100ms background-color var(--snappy);
  }

  li.expanded {
    height: 320px;
  }

  // li:hover {
  //   background: var(--c-hover);
  // }

  .play-button {
    --size: 100px;
    border: 0;
    background: transparent;
    cursor: pointer;
    display: grid;
    height: var(--size);
    place-items: center;
    grid-row: 1 / 3;
    width: var(--size);
  }

  .play-button:hover {
    background: var(--c-hover);
  }

  .play-icon {
    border: 10px solid transparent;
    border-left: 14px solid #eee;
    margin-left: 12px;
  }

  .pause-icon {
    background: transparent;
    border-left: 5px solid #eee;
    border-right: 5px solid #eee;
    height: 18px;
    width: 16px;
  }

  .track-duration {
    font-size: 16px;
  }

  .track-info {
    align-content: center;
    cursor: pointer;
    display: grid;
    gap: 8px;
    grid-row: 1 / 3;
    place-items: center left;
    padding: 16px 24px 16px 32px;
  }

  .track-info:hover {
    background-color: var(--c-hover);
  }

  .track-name {
    background: transparent;
    border-bottom: 1px solid transparent;
    color: inherit;
    display: inline-block;
    font-size: 20px;
  }
}
