.track-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid var(--c-border);
    cursor: pointer;
    padding: 24px;
    transition: 100ms background-color var(--snappy);
  }

  li:hover {
    background: #131313;
  }
}
