:root {
  --c-bg: #111;
  --c-border: #444;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--c-bg);
  color: #fff;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}
