:root {
  --c-bg: #111;
  --c-border: #444;
  /* TODO: Make this a little better */
  --snappy: cubic-bezier(0.65, 0, 0.45, 1);
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--c-bg);
  color: #fff;
  font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

button.record {
  --spacing: 24px;
  background: rgb(246, 47, 47);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(40, 0, 0, 0.25), 0 10px 10px rgba(40, 0, 0, 0.22);
  cursor: pointer;
  /**
   * Specific characters are requested from Google Fonts
   * to reduce the font file size.
   * If the text in this button is changed,
   * make sure the `link` tag that loads this font
   * in `index.html` is updated with the new characters
   */
  font-family: 'Cousine', sans-serif;
  font-size: 20px;
  height: 110px;
  position: fixed;
  bottom: var(--spacing);
  right: var(--spacing);
  text-transform: uppercase;
  transition: 100ms background-color var(--snappy);
  width: 110px;
}

button.record:hover {
  background: rgb(246, 30, 30);
}
