nav{
  background: $primary-color;
  color: #fff;
  display: flex;
  padding: 8px;

  button{
    background: transparent;
    border: 0;
    color: #fff;
    line-height: 1;
    padding: 0;
  }

  h1{
    margin: 0;
  }
}
