/* Fade transition */
.fade-enter-active{
  opacity: 1;
  transition: .3s opacity, .3s transform;
}
.fade-leave-active{
  opacity: 0;
  transition: .3s opacity, .3s transform;
  transform: translateX(24px);
}
.fade-enter{
  opacity: 0;
  transform: translateX(-24px);
}
.fade-leave{
  opacity: 1;
}
/* List Transition */
.list-leave {
  opacity: 1;
}
.list-leave-active {
  opacity: 0;
  transition: opacity .3s;
}
.list-enter{
  opacity: 0;
}
.list-enter-active{
  opacity: 1;
  transition: 1s;
}
.list-move {
  transition: transform 1s;
}
