$primary-text-color: #333;
$white-text-color: #fff;
$primary-color: #2196F3;
$primary-color-hover: #1976D2;
$secondary-color: #FF5722;

@import '../../node_modules/vue-material/dist/vue-material';
@import 'transitions';

*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  margin: 0;
}
