$primary-text-color: #333;
$white-text-color: #fff;
$primary-color: #2196F3;
$primary-color-hover: #1976D2;
$secondary-color: #FF5722;

@import 'title-bar';
@import 'typography';
@import '../../node_modules/vue-material/dist/vue-material';
@import 'recorder';
@import 'transitions';

*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $primary-text-color;
}
html,body{
  margin: 0;
}
